@keyframes bounceIn {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
  
    40% {
      transform: translateY(0);
      opacity: 1;
    }
  
    55% {
      transform: translateY(-80px);
    }
  
    70% {
      transform: translateY(0);
    }
  
    80% {
      transform: translateY(-35px);
    }
  
    90% {
      transform: translateY(0);
    }
  
    95% {
      transform: translateY(-12px);
    }
  
    100% {
      transform: translateY(0);
    }
}

.bounce {
    animation: bounceIn 1.2s cubic-bezier(.34, 1.56, .64, 1);
}

@keyframes appearDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    
    50% {
        /* transform: translateY(-25px); */
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideToRight {
    0% {
        transform: translateX(-50rem);
        opacity: 0;
    }
  
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes consoleIn {
    0% {
      opacity: 0;
      transform: translateY(8px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes blink
{
    0%, 49% {
        opacity: 1;
    }
    
    50%, 100% {
        opacity: 0;
    }
}

.cursor_animation {
    animation: blink 1.2s step-end infinite;
}

.unblur_backdrop {
    animation: unblur-backdrop 1s ease-out;
}

@keyframes unblur-backdrop {
    from {
        backdrop-filter: blur(8px);
        opacity: 1;
    }
    to {
        backdrop-filter: blur(0px);
        opacity: 0;
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate_slide_in_left {
    animation: slide-in-left 1s forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate_slide_in_right {
    animation: slide-in-right 1s forwards;
}