@import "tailwindcss";
@import "./styles/animations.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
}
  
body {
    font-family: var(--font-sans), sans-serif;
}

.code,
.mono,
pre,
code {
    font-family: var(--font-mono), monospace;
}