@import "tailwindcss";
@import "./styles/animations.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #020617;
    /* Brand */
    --color-primary: #38bdf8;
    --color-primary-dark: #0ea5e9;
    --color-secondary: #a855f7;
    --color-accent: #facc15;
    
    /* Text */
    --color-text: #e5e7eb;
    --color-text-secondary: #9ca3af;
    --color-muted: #6b7280;

    /* Gradient */
    --color-gradient-start: #020617;
    --color-gradient-end: #0f172a;

    --card-bg: rgba(15, 23, 42, 0.6);
    --card-border: rgba(255, 255, 255, 0.4);
    --nav-bg: rgba(2, 6, 23, 0.8);
}

@layer components {

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .project-card {
        background: var(--card-bg);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid var(--card-border);
        border-radius: 1rem;
        box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.2);
        transition: all 0.3 ease;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
    }

    .project-card:hover {
        border: 1px solid var(--color-primary);
    }

    .project-card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(135deg, rgba(56, 189, 248, 0.5), rgba(168, 85, 247, 0.5));

        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1;
    }

    .project-card:hover::before {
        opacity: 0.1;
    }

    .project-card-image {
        position: relative;
        overflow: hidden;
    }

    .project-card-image::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 0%, rgba(255, 255, 255, 0.1) 50%, transparent 100%);

        transform: translateX(-100%);
        transition: transform 0.6s ease;
    }

    .project-card:hover .project-card-image::after {
        transform: translateX(100%);
    }

    .project-card h2 {
        font-size: 1.5rem;
        margin-top: 1rem;
        color: var(--color-text);
        font-weight: bold;
        text-transform: uppercase;
    }

    .project-card p {
        color: var(--color-text-secondary);
        text-align: justify;
    }

    .project-tech-tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem
    }

    .project-tech-tags span {
        padding: 0.25rem 0.5rem;

        background: rgba(255, 255, 255, 0.1);
        
        border: 1px solid var(--color-primary-dark);
        border-radius: 0.8rem;
        
        color: var(--color-primary);
        font-size: 0.8rem;
    }
}

:root {
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
}
  
body {
    font-family: var(--font-sans), sans-serif;
}

.code,
.mono,
pre,
code {
    font-family: var(--font-mono), monospace;
}